<h1> This blog will be updated to show progress log 2 </h1>


<p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">28/09/2020.<br> Blog for project reflection has been created. This project will be defined better in future posts. This project will document the creation of a platform that can serve the educational services in the UK. The main idea is to provide a service that eases the process of selecting a carreer path using AI concepts and models. The main issue that the outcome of this project will try to solve is to reduce the level of uncertainty that students have in taking a life-long decision of pursuing a subject using appropriate technologies. </p>